<br>
<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%"><tr class="header"><td><%= @message.title %></td></tr>
<tr bgcolor="#F8F9FC"><td style="padding-top:15px;padding-bottom:8px">
<p><%= @message.body %></p>
</td></tr>
<tr align="center">
<td bgcolor="#f8f9fc" colspan="20"><%= link_to '返回消息列表','/messages' %></td>
</tr>
</table></td></tr></table>
<br>