<%= form_for(@yonghu) do |f| %>
  <% if @yonghu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yonghu.errors.count, "error") %> prohibited this yonghu from being saved:</h2>

      <ul>
      <% @yonghu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
