<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<h2>找回密码</h2>
<p><%= resource.errors.full_messages.join('，且') %></p>
<div class="">
  <p><%= f.label :email, :class=>"label" %>
  <%= f.text_field :email,:class=>'text' %></p>
</div>
<div class="clear"></div>
<div class="clear"></div>
<p><br>
    <button class="create" type="submit">发送密码重置邮件</button>
</p>
<% end %>
