<html>
<head>
	<title>本科生立体化管理系统</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
</head>

<frameset cols="160,*" frameborder="no" border="0" framespacing="0" rows="*"> 
<frame name="menu" noresize scrolling="yes" src="/welcome/menu">
<frameset rows="20,*" frameborder="no" border="0" framespacing="0" cols="*"> 
<frame name="top" noresize scrolling="no" src="/welcome/top">
<frame name="main" noresize scrolling="yes" src="/main">
</frameset></frameset></html>
