<%= form_for(@warning) do |f| %>
  <% if @warning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warning.errors.count, "error") %> prohibited this warning from being saved:</h2>

      <ul>
      <% @warning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
